body {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
}

.fixedHeader, .fixedFooter {
    width: 100%;
    position: fixed;
    text-align: center;
    background: #333;
    color: #FFF;
}

.fixedHeader {
    top: 0;
}

.masterList {
    margin-right: 35px;
    margin-left: 35px;
}

.topicList {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
}

.topicName {
    font-style: italic;
    padding-left: 15px;
}

.fixedFooter {
    bottom: 0;
}